<ul id="todo-list">
  {{#each todo in model itemController="todo"}}
  <li {{bind-attr class="todo.isCompleted:completed todo.isEditing:editing"}}>
    {{#if todo.isEditing}}
      {{edit-todo class="edit" value=todo.model.title focus-out="acceptChanges"
                       insert-newline="acceptChanges"}}
    {{else}}
      {{input type="checkbox" checked=todo.model.isCompleted class="toggle"}}
      <label {{action "editTodo" on="doubleClick"}}>{{todo.model.title}}</label><button {{action "removeTodo"}} class="destroy"></button>
    {{/if}}
  </li>
  {{/each}}
</ul>
